<!-- 주소 / 전화 / 이메일. 연락처가 바뀌면 이 파일만 고치면 됩니다. -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-3 col-6-narrow col-12-mobilep">
				<ul class="labeled-icons">
					<li>
						<h3 class="icon solid fa-map-marker-alt"><span class="label">Location</span></h3>
						Semiconductor Building, No.400525<br />
						Sungkyunkwan University
					</li>
				</ul>
			</div>

			<div class="col-3 col-6-narrow col-12-mobilep">
				<ul class="labeled-icons">
					<li>
						<h3 class="icon solid fa-phone"><span class="label">Tel</span></h3>
						(031) 299-4659
					</li>
				</ul>
			</div>

			<div class="col-3 col-6-narrow col-12-mobilep">
				<ul class="labeled-icons">
					<li>
						<h3 class="icon solid fa-envelope"><span class="label">Contact Email</span></h3>
						jmo1401@g.skku.edu
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		&copy; IDEA.L. All rights reserved.
	</div>
</footer>
